{{> header }}

<div class="container">

  <div class="row">
    <div class="profile col-md-6 col-md-offset-3 text-center">
      <img class="img-circle" src="{{ instagramProfilePicture }}" />
      <h1>{{ instagramUsername }}</h1>
      <p>{{ instagramBio }}</p>
    </div>
  </div>

  {{# each images }}
    {{> profile/image }}
  {{/ each }}
</div>


<script>
  if ( !window.jaded ) {
    window.jaded = {};
    window.jaded.user = {};
  }

  window.jaded.user = JSON.parse('{{{ user }}}');
</script>

{{# if SERVE_COMPILED }}
  <script src="/js/jaded.min.js"></script>
{{ else }}
  <script src="/webapp/public/js/app.js"></script>
{{/ if }}

